Repository 00mjk/weaver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, doc, db, security, tests, job, builtin, CWL, WPS1, WPS2, WPS3

change to cornice-swagger OpenAPI-3 & cwltool docker-gpu requirements for project
  requirements.txt
Labels: ci, doc

adjust accept-language vars
  tests/wps_restapi/test_processes.py
  weaver/datatype.py
  weaver/formats.py
  weaver/wps_restapi/api.py
Labels: doc, db, tests, WPS3

fixes to schema validation and deploy stacker-v2 functional
  CHANGES.rst
  weaver/processes/utils.py
  weaver/wps_restapi/api.py
Labels: doc, WPS3

functional variable schema
  tests/wps_restapi/test_colander_extras.py
Labels: doc, tests

fix makefile if for real
  Makefile
Labels: ci, doc

fixes for variable/anyof/oneof schemas & tests with schemas using them
  tests/wps_restapi/test_colander_extras.py
Labels: doc, tests

fix variable field deserialize with many objects provided
  tests/processes/test_wps_package.py
  tests/wps_restapi/test_colander_extras.py
Labels: doc, tests

fix setup install dependencies using github links
  CHANGES.rst
  requirements.txt
  setup.py
Labels: ci, doc

job.started calculation of job.duration + adjust serialize/deserializee into appropriate calls
  CHANGES.rst
  weaver/datatype.py
  weaver/processes/execution.py
  weaver/processes/utils.py
  weaver/store/mongodb.py
  weaver/utils.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, db, job, WPS3

fix lint
  .dockerignore
  .gitignore
  tests/processes/test_wps_package.py
  weaver/processes/wps_package.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci, doc, tests, CWL, WPS3

avoid error due to copy of example config files
  .travis.yml
  CHANGES.rst
  docs/source/configuration.rst
  weaver/app.py
  weaver/config.py
  weaver/processes/utils.py
Labels: ci, doc

disable python pkg caches in travis build
  .travis.yml
Labels: ci, doc

fix imports
  setup.py
  tests/processes/test_wps_package.py
  tests/test_utils.py
  tests/wps_restapi/test_processes.py
  weaver/app.py
  weaver/owsexceptions.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci, doc, tests, WPS3

fix lint
  tests/processes/test_wps_package.py
  weaver/processes/wps_package.py
  weaver/wps_restapi/colander_extras.py
Labels: doc, tests, CWL, WPS3

(wip) reuse colander 'deserialize' + better log tween exceptions + use common mock for stdout/stderr cwl tests
  tests/functional/test_ems_end2end.py
  tests/processes/test_wps_package.py
  tests/test_utils.py
  weaver/datatype.py
  weaver/tweens.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
Labels: doc, db, tests, job, WPS3

add test case of ssl verification from request-options when WPS queries are used
  tests/processes/test_wps_package.py
  tests/test_utils.py
  weaver/processes/execution.py
  weaver/utils.py
Labels: doc, tests

add default OAS-3 spec in type schema dispatcher
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
Labels: doc, WPS3

fix posixpath pylint/isort lint order + force cwltool/cornice_swagger 3rd party (not detected as such with local dev installs)
  .pylintrc
  setup.cfg
  weaver/processes/wps_package.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
Labels: ci, doc, CWL, WPS3

address inconsistent wrong-import-order flag of posixpath std package
  .pylintrc
  setup.cfg
Labels: ci, doc

more colander schema fixes
  tests/utils.py
  weaver/app.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, tests, job, WPS3

hack-around esgf-cwt install dep (relates to #198)
  requirements.txt
Labels: ci, doc

more work & tests on schema deserialization
  tests/utils.py
  tests/wps_restapi/test_colander_extras.py
  weaver/datatype.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, db, tests, job, WPS3

makefile conda resolution patch
  Makefile
  requirements.txt
  tests/processes/test_wps_package.py
  weaver/owsexceptions.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci, doc, tests, WPS3

.github/labeler.yml:

# label rules used by .github/workflows/label.yml
# reference: https://github.com/actions/labeler

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - MANIFEST.in
  - hooks/**/*
  - Makefile*
  - Dockerfile*
  - setup.*
  - requirements*
  - tests/travis-ci/**/*

doc:
  - "*.rst"
  # ignore changelog as doc would almost always be tagged
  - "!CHANGES.rst"
  - "*.example"
  - LICENCE*
  - docs/**/*
  - weaver/wps_restapi/api.py
  - weaver/wps_restapi/colander_extras.py
  - weaver/wps_restapi/swagger_definitions.py
  - weaver/wps_restapi/templates/swagger_ui.mako

db:
  - weaver/datatype.py
  - weaver/database/**/*
  - weaver/store/**/*
  - weaver/sort.py

security:
  - weaver/visibility.py

tests:
  - tests/**/*
  - weaver/processes/wps_default.py
  - weaver/processes/wps_testing.py

## -- Files that *always* impact jobs --

job: 
  - weaver/execute.py
  - weaver/sort.py
  - weaver/wps_restapi/jobs/**/*
  - weaver/wps_restapi/templates/notification_email_example.mako

## -- WPS processes --

builtin:
  - weaver/processes/builtin/**/*

CWL:
  - weaver/processes/wps_process_base.py
  - weaver/processes/wps_package.py
  - weaver/processes/wps_workflow.py

WPS1:
  - weaver/wps.py
  - weaver/processes/wps1*

WPS2:
  - weaver/wps.py
  - weaver/processes/wps2*

WPS3:
  - weaver/wps_restapi/**/*
