Repository 00mjk/weaver, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, doc, db, security, tests, job, builtin, CWL, WPS1, WPS2, WPS3

update pyup.io config file
  .pyup.yml
Labels: ci, doc

support json/xml according to accept header + add job status links (#58) + extra job routes (#86) + compliance with ogc api
  .dockerignore
  .gitignore
  CHANGES.rst
  config/weaver.ini.example
  requirements.txt
  tests/wps_restapi/test_api.py
  tests/wps_restapi/test_jobs.py
  tests/wps_restapi/test_processes.py
  tests/wps_restapi/test_status_codes.py
  weaver/__init__.py
  weaver/datatype.py
  weaver/formats.py
  weaver/owsexceptions.py
  weaver/processes/wps3_process.py
  weaver/processes/wps_package.py
  weaver/tweens.py
  weaver/typedefs.py
  weaver/utils.py
  weaver/wps/utils.py
  weaver/wps_restapi/__init__.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/jobs/__init__.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/processes/__init__.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci, doc, db, tests, job, CWL, WPS3

update changelog - fix #53, #58, #86
  CHANGES.rst
  config/weaver.ini.example
  weaver/wps_restapi/api.py
Labels: doc, WPS3

convert conformance / frontpage references to literal http links
  CHANGES.rst
  config/weaver.ini.example
  tests/test_owsexceptions.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/jobs/jobs.py
Labels: doc, tests, job, WPS3

adjust 201 on created job (fix #14) + update headers in swagger + default caching values if settings not defined in weaver config
  CHANGES.rst
  weaver/app.py
  weaver/processes/utils.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

fix changelog
  CHANGES.rst
Labels: doc

adjust tests status codes to use now expected 201 on process creation
  tests/wps_restapi/test_processes.py
Labels: doc, tests

update test to build app from real weaver main - inherit all defaults setup
  tests/test_opensearch.py
  tests/utils.py
Labels: doc, tests

minor doc updates
  weaver/wps_restapi/processes/processes.py
Labels: doc, WPS3

fix frontpage with caching not working directly on request view function
  weaver/wps_restapi/api.py
Labels: doc, WPS3

fix cwl i/o handling if specified with only string representy the type
  CHANGES.rst
  tests/functional/test_wps_package.py
  weaver/processes/utils.py
  weaver/processes/wps_package.py
  weaver/processes/wps_process_base.py
  weaver/processes/wps_testing.py
  weaver/processes/wps_workflow.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/processes/processes.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, tests, CWL, WPS3

fix tests
  tests/wps_restapi/test_api.py
Labels: doc, tests

bugfix default config path resolution
  CHANGES.rst
  weaver/config.py
Labels: doc

updates to api schemas and links/output/results returned by job routes
  CHANGES.rst
  weaver/datatype.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/jobs/jobs.py
  weaver/wps_restapi/swagger_definitions.py
  weaver/wps_restapi/templates/swagger_ui.mako
Labels: doc, db, job, WPS3

fixes that help support windows execution of weaver
  CHANGES.rst
  Makefile
  config/weaver.ini.example
  docs/source/installation.rst
  docs/source/running.rst
  tests/processes/test_wps_package.py
  weaver/processes/wps_package.py
Labels: ci, doc, tests, CWL

swagger rendering updates
  CHANGES.rst
  docs/source/conf.py
  weaver/__meta__.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/swagger_definitions.py
  weaver/wps_restapi/templates/swagger_ui.mako
Labels: doc, WPS3

tweaks to build OpenAPI-3 docs
  docs/source/installation.rst
  requirements.txt
  weaver/store/mongodb.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/colander_extras.py
Labels: ci, doc, db, WPS3

openapi-3 hanlding working with fmigneault/cornice.ext.swagger repo
  requirements.txt
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci, doc, WPS3

functional openapi-3 schema generation
  weaver/wps_restapi/colander_extras.py
Labels: doc, WPS3

add some openapi titles
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

more detailed openapi-3 auto-spec using fmigneault/cornice.ext.swagger repo
  weaver/formats.py
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

fix using SchemaNode URL
  weaver/wps_restapi/colander_extras.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

add image/tiff format (relates to #100)
  weaver/formats.py
Labels: doc

better metadata language href/value
  weaver/formats.py
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

support json/xml according to accept header + add job status links (#58) + extra job routes (#86) + compliance with ogc api
  requirements.txt
  weaver/formats.py
  weaver/tweens.py
  weaver/wps_restapi/api.py
  weaver/wps_restapi/swagger_definitions.py
Labels: ci, doc, WPS3

update changelog - fix #53, #58, #86
  CHANGES.rst
  weaver/wps_restapi/api.py
Labels: doc, WPS3

convert conformance / frontpage references to literal http links
  CHANGES.rst
  config/weaver.ini.example
  weaver/wps_restapi/api.py
Labels: doc, WPS3

fix changelog
  CHANGES.rst
Labels: doc

adjust 201 on created job (fix #14) + update headers in swagger + default caching values if settings not defined in weaver config
  CHANGES.rst
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

fix frontpage with caching not working directly on request view function
  weaver/wps_restapi/api.py
Labels: doc, WPS3

fix cwl i/o handling if specified with only string representy the type
  CHANGES.rst
  weaver/processes/wps_package.py
  weaver/wps_restapi/colander_extras.py
Labels: doc, CWL, WPS3

fix tests
  weaver/processes/wps_package.py
Labels: doc, CWL

updates to api schemas and links/output/results returned by job routes
  weaver/wps_restapi/colander_extras.py
Labels: doc, WPS3

swagger rendering updates
  CHANGES.rst
Labels: doc

more detailed openapi-3 auto-spec using fmigneault/cornice.ext.swagger repo
  weaver/wps_restapi/swagger_definitions.py
Labels: doc, WPS3

better metadata language href/value
  weaver/formats.py
Labels: doc

tweaks to build OpenAPI-3 docs
  docs/source/installation.rst
  weaver/wps_restapi/colander_extras.py
Labels: doc, WPS3

openapi-3 hanlding working with fmigneault/cornice.ext.swagger repo
  weaver/wps_restapi/colander_extras.py
Labels: doc, WPS3

fixes that help support windows execution of weaver
  CHANGES.rst
  config/weaver.ini.example
  docs/source/installation.rst
Labels: doc

update to better support null format
  CHANGES.rst
  tests/test_utils.py
  weaver/formats.py
  weaver/utils.py
Labels: doc, tests

.github/labeler.yml:

# label rules used by .github/workflows/label.yml
# reference: https://github.com/actions/labeler

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - MANIFEST.in
  - hooks/**/*
  - Makefile*
  - Dockerfile*
  - setup.*
  - requirements*
  - tests/travis-ci/**/*

doc:
  - "*.rst"
  # ignore changelog as doc would almost always be tagged
  - "!CHANGES.rst"
  - "*.example"
  - LICENCE*
  - docs/**/*
  - weaver/wps_restapi/api.py
  - weaver/wps_restapi/colander_extras.py
  - weaver/wps_restapi/swagger_definitions.py
  - weaver/wps_restapi/templates/swagger_ui.mako

db:
  - weaver/datatype.py
  - weaver/database/**/*
  - weaver/store/**/*
  - weaver/sort.py

security:
  - weaver/visibility.py

tests:
  - tests/**/*
  - weaver/processes/wps_default.py
  - weaver/processes/wps_testing.py

## -- Files that *always* impact jobs --

job: 
  - weaver/execute.py
  - weaver/sort.py
  - weaver/wps_restapi/jobs/**/*
  - weaver/wps_restapi/templates/notification_email_example.mako

## -- WPS processes --

builtin:
  - weaver/processes/builtin/**/*

CWL:
  - weaver/processes/wps_process_base.py
  - weaver/processes/wps_package.py
  - weaver/processes/wps_workflow.py

WPS1:
  - weaver/wps.py
  - weaver/processes/wps1*

WPS2:
  - weaver/wps.py
  - weaver/processes/wps2*

WPS3:
  - weaver/wps_restapi/**/*
